@model SchoolSchedule.Domain.ViewModels.ClassRoomViewModel
@{
    ViewData["Title"] = "GetClassRoom";
   
}

<div class="col-md-12">
    <div class="card-head form-text" align="center">
        <h5>Самая редко посещаемая аудитория</h5>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-success">Аудитория: <b>@Model.ClassRoom</b></li>
                <li class="list-group-item list-group-item-success">Кол-во посещений: <b>@Model.VisitCount</b></li>
            </ul>
        </div>
    </div>
</div>

