@{
    ViewData["Title"] = "GetSchedules";
}

<h3 align="center">Школьное расписания</h3>

<br />

<div class="row">
    <div class="form-group col-md-6">
        <label class="col-form-label">Класс</label>
        <select class="form-control" id="classFilter">
            <option>10 А</option>
            <option>10 Б</option>
            <option>11 А</option>
            <option>11 Б</option>
        </select>
    </div>
</div>

<div>
    <table class="table table-striped table-success" id="scheduleTable">
        <thead>
            <tr>
                <th valign="middle">День недели</th>
                <th valign="middle">Класс</th>
                <th valign="middle">Номер урока</th>
                <th valign="middle">Время начала</th>
                <th valign="middle">Время окончания</th>
                <th valign="middle">Предмет</th>
                <th valign="middle">Преподаватель</th>
                <th valign="middle">Аудитория</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
    <script>
        let className = $('#classFilter option:selected').val();
        let url = '@Url.Action("ScheduleHandler")';
        drawTable({url:url,data: className});

        $('#classFilter').on('change', function () {
            $('#scheduleTable').DataTable().destroy();
            let className = $('#classFilter option:selected').val();
            drawTable({ url: url, data: className });
        });
        
    </script>
}

